@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 0 78% 48%;
  --primary-foreground: 0 0% 100%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 0 78% 48%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

